# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.ruff_cache/

# Build and package files
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Test and coverage files
.coverage
.coverage.*
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml
*.cover

# Virtual environments & Environment variables
.env
.env.*
.venv
env/
venv/
ENV/

# Type checker cache
.mypy_cache/

# Editor settings & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.tmp
*.bak
*.log
